{% extends 'layout.html' %}


{% block title %}
{{book.title}}
{% endblock %}
{% block body %}
<h1>{{book.title}}</h1>

<label for="isbn">The isbn is {{book.isbn}}</label>

<label for="author">The author is {{book.author}}</label>

<label for="year">This book realesed in {{book.year}}</label>


<script type="text/javascript">
    function myCallback(result) {
      alert('nb of reviews for book: ' + result.reviews.length);
    }
    var scriptTag = document.createElement('script');
    scriptTag.src = "https://www.goodreads.com/book/title.xml?author={{book.author}}&key=dw8OfULlHNo0zZlCBeM6jw&title={{book.title}}";
    document.getElementsByTagName('head')[0].appendChild(scriptTag);
    </script>


{% endblock %}