{% extends 'layout.html' %} {% block title%}Wow Books{% endblock%} 

{% block body%}

{% if session['user'] %}
<ul>
    {% for book in books %}
    <div class="books_ls">
        <h4>{{book.title}}</h4>
        <p>
            This <strong>{{book.title}}</strong> book from <strong>{{book.author}}</strong> it realese in <strong>{{book.year}}</strong>

            for more details you can click <a href="{{ url_for('details' , isbn=book.isbn)}}">here</a>
        </p>

    </div>
    
    {% endfor %}
</ul>
{% else %}
<h3>Please login to see the books</h3>

{% endif %}

{% endblock %}