{% extends 'layout.html' %}
{% block title %}
Login Page
{% endblock%}

{% block body %}
<div class="offset-3  mt-3">
    <h1 class="display-6">Login Form</h1>
<div class="row mt-5">
    <div class="col-6">
        <form action="{{ url_for('myaccount')}}" method="POST">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control mb-2" name="user" placeholder="Username">
                <label for="">Password</label>
                <input type="password" class="form-control mb-2" name="password" placeholder="Password">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
        {% if request.args.get('message') %}
        
        <div class="alert alert-warning" role="alert">
            <strong>{{request.args.get('message')}}</strong>
        </div>

        {% endif %}
    </div>
</div>
</div>
{% endblock %}